body{
  background-color:#1EFFBC;
  
}
h1{
  font-size:300%;
  letter-spacing: 2px;
  font-family: "Impact";
  color: blue;
  text-decoration: underline;
  text-decoration-color: black;

}
p{
  fontsize: 200%;
  color: blue; 
  font-family: "Arial";
  text-decoration: underline;
  
}
img{
 width:300px;
  border-style:ridge;
  border-color:blue;
  
}


ul{
  text-align: center;
  list-style-type: none;
  font-family:"Impact";
  position: fixed;
    
}

li{
  float: left;
  
}
li a{
  padding: 10px;
  color: black;
  border: ridge;
  
}
li a:hover{
  background-color: grey;
  
}
